.main-book-container-wrapper{
    display: flex;
    justify-content: center;
}

.main-book-container{
    display: grid;
    grid-template-columns: auto auto auto;
}

.book-card{
    margin: 50px 30px 30px 30px;
    text-align: left;
    max-width: 300px;
}

.book-img{
    width: 212px;
    height: 300px;
}

.book-author{
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 14px;
    text-transform: capitalize;
    color: #5C6A79;
}

.book-title{
    margin-top: 4px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    color: #1C2A39;
}

.book-genre{
    margin-top: 4px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 14px;
    color: #5C6A79;
}

.book-desc{
    margin-top: 16px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 14px;
    text-transform: capitalize;
    color: #5C6A79;
}
